<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Actinic Information</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">Actinic</h1>
      <h2>Overview</h2>
      <p>
        A rough, scaly patch on the skin caused by years of sun exposure.
        Actinic keratoses usually affects older adults. Reducing sun exposure
        can help reduce risk. It is most common on the face, lips, ears, back of
        hands, forearms, scalp and neck. The rough, scaly skin patch enlarges
        slowly and usually causes no other signs or symptoms. A lesion may take
        years to develop. Because it can become cancerous, it's usually removed
        as a precaution.
      </p>
      <!-- <h1>Malaria</h1> -->
      <h2>Symptoms</h2>
      <ul>
        <li>scaly patch on skin</li>
        <li>itching</li>
      </ul>

      <h2>Treatment</h2>
      <p>
        Topical anti-tumor medication, Chemotherapy and Nonsteroidal
        anti-inflammatory drug
      </p>
      <div style="margin-left: 8rem;">
        <button type="button" class="btn btn-success">Know More...</button>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  </body>
</html>
