<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Allergic-Contact-Dematitis Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Allergic-Contact-Dermatitis</h1>
    <h2>Overview</h2>
    <p>Allergic contact dermatitis is an inflammatory disease of the skin that is caused by a type 4 hypersensitivity reaction. It results from the contact of an offending chemical or antigen with the skin, and the subsequent T-cell mediated response.
        </p>
    <h2>Symptoms</h2>
    <ul>
      <li> skin to become itchy</li>
      <li> blistered</li>
      <li> dry and cracked</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>Put on a cool compress. Holding a clean, damp cloth against skin can ease itching. Take lukewarm (not hot) showers or baths for no more than 10 or 15 minutes to prevent dry skin. Dry yourself very carefully (pat dry, instead of rubbing hard) and apply moisturizing lotion all over your body.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
