<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alopecia Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Alopecia</h1>
    <h2>Overview</h2>
    <p>Alopecia is a medical condition that causes hair loss. It can affect both men and women, and can occur at any age. There are many types of alopecia, including:</p>
    <ul>
      <li>Androgenetic alopecia</li>
      <li>Alopecia areata</li>
      <li>Scarring alopecia</li>
      <li>Traction alopecia</li>
    </ul>
    <p>The exact cause of alopecia is unknown, but it is believed to be an autoimmune disorder in which the body's immune system attacks hair follicles. It can also be caused by certain medications, illness, or stress.</p>

    <h2>Symptoms</h2>
    <p>The main symptom of alopecia is hair loss. This can occur in small patches or all over the scalp. In some cases, it can also affect the eyebrows, eyelashes, and other hair on the body.</p>

    <h2>Treatment</h2>
    <p>Treatment for alopecia depends on the type and severity of the condition. There is no cure for alopecia, but there are several treatment options available, including:</p>
    <ul>
      <li>Topical medications</li>
      <li>Oral medications</li>
      <li>Corticosteroid injections</li>
      <li>Hair transplant surgery</li>
    </ul>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
