<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Atopic Dermatitis Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Atopic Dermatitis</h1>
    <h2>Overview</h2>
    <p>Atopic dermatitis, also known as eczema, is a chronic skin condition that causes itchy and inflamed skin.
        It typically develops in childhood and can continue into adulthood.
        Symptoms include dry, scaly, or red skin patches that can become itchy and inflamed.
        Treatment options include over-the-counter creams and ointments, as well as prescription medications.</p>
    
    <h2>Symptoms</h2>
    <ul>
      <li>Dry, scaly skin</li>
      <li>Redness and inflammation</li>
      <li>Intense itching</li>
      <li>Cracking, oozing, or bleeding of the skin</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>Treatment options for atopic dermatitis include:</p>
    <ul>
      <li>Moisturizing creams and ointments</li>
      <li>Corticosteroid creams and ointments</li>
      <li>Antihistamines</li>
      <li>Immunomodulators</li>
    </ul>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
