<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Atypical Nevi Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Atypical Nevi</h1>
    <h2>Overview</h2>
    <p>Atypical nevi are moles that are larger than normal and have irregular shapes and colors. They are also known as dysplastic nevi.
        While most atypical nevi are benign, having many of them can increase the risk of developing melanoma, a type of skin cancer.
        People with many atypical nevi or a family history of melanoma should have their skin checked regularly by a dermatologist.</p>

    <h2>Symptoms</h2>
    <ul>
      <li>Moles that are larger than normal</li>
      <li>Moles with irregular shapes and colors</li>
    </ul>

    <h2>Treatment</h2>
    <p>If an atypical nevus is suspected to be cancerous, it will be removed and sent to a lab for testing. People with many atypical nevi or a family history of melanoma should have their skin checked regularly by a dermatologist.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
