<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basal Cell Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Basal Cell</h1>
    <h2>Overview</h2>
    <p>Basal cell carcinoma (BCC) is a type of skin cancer that begins in the basal cells.
       It is the most common type of skin cancer and usually develops on areas of skin exposed to the sun,
       such as the head, neck, and arms. BCC is generally slow-growing and rarely spreads to other parts of the body.
       Treatment includes surgery, radiation therapy, and other medications.</p>
    <h2>Symptoms</h2>
    <ul>
      <li>A pearly or waxy bump</li>
      <li>A flat, flesh-colored or brown scar-like lesion</li>
      <li>A bleeding or scabbing sore that heals and returns</li>
      <li>In rare cases, a white, waxy, scar-like lesion without a visible blood supply</li>
    </ul>
    <h2>Treatment</h2>
    <p>Treatment options for basal cell carcinoma include:</p>
    <ul>
      <li>Surgery to remove the cancer</li>
      <li>Medications applied to the skin</li>
      <li>Freezing the cancer cells</li>
      <li>Radiation therapy</li>
      <li>Photodynamic therapy</li>
    </ul>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
