<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cellulitis Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Cellulitis</h1>
    <h2>Overview</h2>
    <p>Cellulitis is a bacterial skin infection that commonly affects the legs and feet, but can occur anywhere on the body.
       It appears as a swollen, red area of skin that feels hot and tender to the touch.
       Left untreated, the infection can spread rapidly to the lymph nodes and bloodstream, causing severe illness.</p>
    
    <h2>Symptoms</h2>
    <ul>
      <li>Swelling</li>
      <li>Redness</li>
      <li>Warmth</li>
      <li>Tenderness</li>
      <li>Pain or soreness</li>
      <li>Fever and chills (if the infection spreads)</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>Treatment for cellulitis usually involves a course of antibiotics to eliminate the infection.
       Pain relievers and anti-inflammatory medications may also be prescribed to manage pain and reduce inflammation.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
