<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InceptionV3 Model for Dermnet Dataset</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Our Model</h1>
    <h2>Overview</h2>
    <p>An image Identification model that is trained on the Dermnet dataset, which contains 29 different skin disease classes.
        The model has an overall accuracy of 89% and can be used to predict skin diseases from images.
    </p>
    
    <h2>Features</h2>
    <ul>
      <li>Uses the Finetuned InceptionV3 architecture for image Indentification.</li>
      <li>Trained on the Dermnet dataset, which contains 29 different skin disease classes.</li>
      <li>Overall accuracy of 89%.</li>
      <li>Can predict skin diseases from images.</li>
    </ul>
    
    <h2>Conclusion</h2>
    <p>The InceptionV3 model for Dermnet dataset is a powerful tool for predicting skin diseases from images. With its high accuracy and ability to classify between 29 different disease classes, it can assist dermatologists in making accurate diagnoses and providing appropriate treatments for patients. The model can also be used for research purposes to better understand skin diseases and their causes.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
