<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hives/Urticaria Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Hives/Urticaria</h1>
    <h2>Overview</h2>
    <p>Hives, also known as urticaria, is a skin rash that is characterized by itchy red or white bumps or welts on the skin.
        It can be caused by an allergic reaction to food, medication or insect bites, or by exposure to environmental triggers such as heat, cold or stress.
        In most cases, hives are not a serious medical condition and can be treated with over-the-counter antihistamines or prescription medications.</p>
    <!-- <h1>Malaria</h1> -->
    <h2>Symptoms</h2>
    <ul>
      <li>itchy red or white bumps or welts on the skin</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>In most cases, hives can be treated with over-the-counter antihistamines or prescription medications.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
