<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Molluscum Contagiosum Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Molluscum Contagiosum</h1>
    <h2>Overview</h2>
    <p>Molluscum contagiosum is a common skin condition caused by a virus that results in small, raised, pearl-like bumps on the skin.
       The virus is contagious and can be spread through skin-to-skin contact or by sharing towels or other personal items.
       The bumps usually disappear on their own within 6-12 months, but treatment may be recommended to prevent the spread of the virus.</p>
    
    <h2>Symptoms</h2>
    <ul>
      <li>Small, raised, pearl-like bumps on the skin</li>
      <li>Bumps have a central indentation or "core"</li>
      <li>Bumps can occur anywhere on the body, except for the palms of the hands and the soles of the feet</li>
      <li>Bumps may be itchy, sore, or red</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>Treatment options for molluscum contagiosum include:</p>
    <ul>
      <li>Physical removal of the bumps through scraping, freezing, or laser therapy</li>
      <li>Application of topical creams or ointments</li>
      <li>Prescription medications, such as imiquimod or cidofovir</li>
    </ul>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
