<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nail Disease Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Nail Disease</h1>
    <h2>Overview</h2>
    <p>Nail diseases are diseases or disorders that affect the nails on the fingers and/or toes.
       Nail disease symptoms can include discoloration, thickening, ridges, and nail separation from the nail bed.
       Nail diseases can be caused by a variety of factors, including fungal infections, bacterial infections, and underlying medical conditions.</p>
    
    <h2>Symptoms</h2>
    <ul>
      <li>Discoloration</li>
      <li>Thickening</li>
      <li>Ridges</li>
      <li>Nail separation from the nail bed</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>The treatment of nail diseases depends on the underlying cause. 
       Treatments can include topical or oral medications, surgery, and other interventions, depending on the specific condition.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
