<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pyogenic Skin Infection</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Pyogenic Skin Infection</h1>
    <h2>Overview</h2>
    <p>Pyogenic skin infections are bacterial infections of the skin that lead to the formation of pus.
        These infections can occur in any part of the body, and can be caused by different types of bacteria.
        Symptoms include redness, swelling, pain, and the formation of pus.
        Treatment involves antibiotics and sometimes drainage of the infected area.</p>
    <!-- <h1>Malaria</h1> -->
    <h2>Symptoms</h2>
    <ul>
      <li>Redness</li>
      <li>Swelling</li>
      <li>Pain</li>
      <li>Pus formation</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>Treatment involves antibiotics and sometimes drainage of the infected area.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
