<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rosacea Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Rosacea</h1>
    <h2>Overview</h2>
    <p>Rosacea is a chronic skin condition that causes redness and visible blood vessels on the face.
        It can also produce small, red, pus-filled bumps.
        The exact cause of rosacea is unknown, but it is believed to be related to genetic and environmental factors.
        It is more common in women and in people with fair skin.
        There is no cure for rosacea, but it can be managed with medication and lifestyle changes.
    </p>
    <h2>Symptoms</h2>
    <ul>
    <li>Facial redness</li>
    <li>Visible blood vessels</li>
    <li>Swollen, red bumps</li>
    <li>Eye problems (such as redness, dryness, or irritation)</li>
    </ul>

    <h2>Treatment</h2>
    <p>There is no cure for rosacea, but it can be managed with medication and lifestyle changes. Treatments include:</p>
    <ul>
    <li>Topical medications (such as azelaic acid, metronidazole, or brimonidine)</li>
    <li>Oral antibiotics</li>
    <li>Laser therapy</li>
    <li>Avoiding triggers (such as spicy foods, alcohol, and sun exposure)</li>
    </ul>
</div>
<!-- Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
