<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tinea (Ringworm) Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;">Tinea (Ringworm)</h1>
    <h2>Overview</h2>
    <p>Tinea, commonly known as ringworm, is a fungal infection that affects the skin and nails.
        It is characterized by a red, itchy rash in a circular or ring-like shape.
        The infection is most commonly found on the scalp, feet, groin, and nails.
        Treatment typically involves antifungal creams, powders, or oral medication.</p>
    <!-- <h1>Malaria</h1> -->
    <h2>Symptoms</h2>
    <ul>
      <li>Red, itchy rash in a circular or ring-like shape</li>
      <li>Dry, scaly, or cracked skin</li>
      <li>Blisters or pus-filled bumps</li>
      <li>Thickened, discolored, or brittle nails (in case of nail infection)</li>
    </ul>
    
    <h2>Treatment</h2>
    <p>Treatment typically involves antifungal creams, powders, or oral medication.</p>
  </div>
  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</html>
